$my_blue: #202020;
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body{
    background: $my_blue;
}
body::-webkit-scrollbar {
    width: 5px;

}
body::-webkit-scrollbar-track{
    width: 5px;
    background: gray;
}
body::-webkit-scrollbar-thumb{
    background: rgb(37, 37, 37);
}