#content-container{
    margin-top: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-top: 1px solid black;
    grid-auto-rows: 100vh;
    grid-gap: 10px;
    div{
        background: red;
    }
}
